<!-- hbs -->
<!DOCTYPE html>
<html>
  <head>
    <title>FootyNet - Update League Matches</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <h1>Update Matches</h1>
    {{#each matches}}
      <form action="/leagues/update" method="POST">
        <input type="hidden" name="matchId" value="{{_id}}">
        <p>{{team1.name}} vs {{team2.name}} - {{pitch.name}} - {{date}}</p>
          <label for="userTeamGoals">{{team1.name}} Goals:</label>
          <input type="number" name="userTeamGoals" required>
          <label for="opponentGoals">{{team2.name}} Goals:</label>
          <input type="number" name="opponentGoals" required>
        <select id="leagueId" name="leagueId" required>
          <option value="" disabled selected>Choose a league</option>
          <option value="friendly">Friendly Match</option>
          {{#each ../leagues}}
            <option value="{{this._id}}">{{this.name}}</option>
          {{/each}}
        </select>
        <button type="submit">Update</button>
      </form>
    {{/each}}
    {{#if errorMessage}}
    <div class="error">{{errorMessage}}</div>
    {{/if}}
  </body>
</html>




